<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="banderLoader" class="spring_recipes_4th.ch02.propertiesfiledata_ii.BannerLoader"
          init-method="showBanner">
        <property name="banner">
            <value>classpath:banner.txt</value>
        </property>
    </bean>-->
</beans>